/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-image: url(./asets/images/background.jpeg);
    background-size: cover;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    
    padding: 20px;
    background-color: #36C2CE;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

input[type="text"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.material-symbols-outlined{
    cursor: pointer;
    color: rgb(192, 40, 40);
}
